*.idea
*/shelf/
*/workspace.xml
*/contentModel.xml
*/projectSettingsUpdater.xml
*/modules.xml
*/.idea.DataStructuresAssignment.iml
*/httpRequests/
*/dataSources/
*/dataSources.local.xml
.idea/.idea.DataStructuresAssignment/.idea/workspace.xml
*.vs
